/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"8bitoperator Regular";
  src:url("fonts/8bitoperator.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

* {
  box-sizing: border-box;
  font-family: '8bitoperator Regular';
  font-size: 12pt;
}

html {
  padding: 0;
  background-color: black;
  background-image: url("./img/bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding: 0px;
  margin: 0px;
}

#sidenav {
  z-index: 2;
  height: 100%; 
  width: 15%;
  min-width: 250px; 
  position: fixed; 
  padding-top: 20px;
  padding-left: 20px;
  border-right: 1px solid #111;
  top: 0;
  margin: 0;
  display: table;
  background-color: black;
  color: white;
}

#openbutton {
  position: fixed;
  left: 5px;
  top: 15px;
  z-index: 2;
  width: 24px;
  height: 60px;
  padding: 0;
  border: 1px white solid;
  cursor: pointer;
  font-weight: bold;
}

#closebutton {
  width: 24px;
  height: 24px;
  border: 1px white solid;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: table;
  padding-left: 5px;
  margin-top: 2px;
}

#closebutton h1 {
  display: table-cell;
  vertical-align: center;
  font-weight: lighter;
  text-align: center;
  line-height: 100%;
}

#sidenav h2 {
  font-size: 18pt;
  margin-top: 15px;
  margin-bottom: 0px;
}

.catName {
  margin: 15px 0px 10px;
}

#sidenav input {
  margin-bottom: 10px;
  margin-left: 10px;
}

#sidenav #searchbar {
  width: 170px;
  margin: 0px;
}

#sidenav p {
  position: absolute;
  bottom: 2px;
  font-size: 7pt;
  width: 200px;
  text-align: center;
  color: darkgray;
  opacity: 50%;
}

#sidenav p img {
  width: 10px;
  height: 10px;
  vertical-align: center;
}

#sidenav p a {
  font-size: inherit;
  text-decoration: none;
  vertical-align: center;
}

#sidebarbuttons {
  margin-top: 20px
}

#sidebarbuttons button {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

#total {
  text-align: center;
  position: fixed;
  width: 300px;
  height: 100px;
  bottom: 15px;
  right: 30px;
  color: white;
  border: 20px solid transparent;
  border-image: url("./img/border.png") 30 round;
  border-image-outset: 13px;
  background-color: black;
  display: table;
}

#total h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 22pt;
}

@media only screen and (max-width: 600px) {
  #total {
    width: 210px;
    height: 70px;
    padding: 0;
    right: 15px;
  }

  #total h1 {
    font-size: 14pt;
    margin: auto;
  }
}

#challengepicker {
  margin: auto;
  padding: auto;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
}

#tiertitles {
  min-width: 1400px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black; 
}

.challengeheader {
  width: 150px;
  padding: 10px 0px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 15pt;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border-radius: 2px;
  border: 3px white solid;
  color: gold;
}

.headerpoints {
  margin: 2px;
  font-size: 12px;
  color: white;
}

#challenges {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  min-width: 1400px;
}

.column {
  width: 150px;
}

#challengepicker button {
  width: 150px;
  height: 70px;
  padding: 4px;
  margin: 5px 0px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  opacity: 90%;
  font-size: 8pt;
  font-family: '8bitoperator Regular';
}

.challengebuttonpressed {
  color: white;
  background-color: green;
}

.buttoncontainer {
  width: 150px;
}